body{
    font-family: "Lato",sans-serif; 
}

.privacy-header{
    background: #0b0f19;
    color: #fff;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    border: 0;
    border-radius: 0;
    /* flex-direction: column; */
    align-items: center;
  }
  
  .privacy-header .privacy-title{
      text-transform: capitalize;
      font-weight: 700;
      font-size: 30px;
      line-height: 26px;
      padding-top: 15px;
      color: #fff;
  }
  .privacy-header p {
    margin-top: 20px;
    margin-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .privacy-page-body{
    padding: 30px 30px 50px;
  }

  .privacy-page-body p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    margin-bottom: 30px;
  }
  
  .privacy-page-body .medium-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #000;
    margin-bottom: 20px;
  }
  .privacy-page-body ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 35px;
  }
  .privacy-page-body ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #22A06F;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }
  .privacy-page-body .small-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    margin-bottom: 15px;
  }
  .privacy-page-body table{
    background-color: #FDFDFD;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 8%), 0px 0px 1px rgb(67 90 111 / 47%);
    border-radius: 8px;
    margin-bottom: 35px;
   
  }
  .privacy-page-body table th{
    padding: 20px;
  }
  .privacy-page-body table td{
    padding: 20px;
  }
  .privacy-footer{
    background-color: #25B953;
    color: #fff;
    /* padding: 25px 53px 25px 30px; */
  }

  .terms-page-body{
    padding: 15px 15px 15px 15px;
  }
  .form-control:focus {
    color: #565973;
    background-color: #fff;
    border-color: rgba(99, 102, 241, 0.35);
    outline: 0;
    box-shadow: inset 0 0 0 transparent, 0 0.5rem 1.125rem -0.5rem rgba(99, 102, 241, 0.2);
  }

  