@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;600&family=Poppins&display=swap');

:root {
	--dark--: #111827;
	--primary--: #06b6d4;
	--secondary--: #6b7280;


	/* font-family */
	--dm-sans--: 'DM Sans', sans-serif;
	--inter--: 'Inter', sans-serif;
	--poppins--: 'Poppins', sans-serif;
}

* {
	padding: 0px;
	margin: 0px;
	font-size: 16px;

}

body {
	font-family: var(--dm-sans--);
}

.profile-menu .dropdown-menu {
	right: 0;
	left: unset;
}

.profile-menu .fa-fw {
	margin-right: 10px;
}

.toggle-change::after {
	border-top: 0;
	border-bottom: 0.3em solid;
}

.dark-text {
	color: var(--dark--);
}

.nav-logo {
	color: var(--primary--);
	font-size: 2rem;
}

.navbar-brand {
	font-family: var(--poppins--);
	font-size: 2rem;
}

.nav-link {
	color: var(--dark--) !important;
}

.nav-item>.active {
	color: var(--primary--) !important;
}

.nav-link:hover {
	color: var(--primary--) !important;
}

button {
	background-color: var(--primary--);
	border: 0px solid var(--primary--);
	color: white;
	font-family: var(--dm-sans--);
	font-weight: bold;
}

.secondary-text {
	color: var(--secondary--) !important;
}
.hero-main-background-img{
	background-image: url("https://storage.googleapis.com/content.ezadtv.com/2023/02/06/63e129e8265ab_Select.webp");
	background-repeat: no-repeat;
	background-position: 31% 4%;
    background-size: 21% 38%;
}
.hero-caption {
	font-size: 1;
}

.hero-heading {
	font-size: 48px;
}

.dashboard-background {
	background-image: url("https://storage.googleapis.com/content.ezadtv.com/2023/01/30/63d7a2bc7b128_Vector.webp");
	background-repeat: no-repeat;

	background-position: 100% 100%;
	background-size: 100% 90%;
}

.Project-Managment-Solution {
	background: #ECFEFF;
	box-shadow: 0px 0px 40px 28px rgba(59, 130, 246, 0.02);
	border-radius: 20px;
}

.Project-Managment-Solution .bottom {
	background: #CFFAFE;
	box-shadow: 0px 0px 40px 28px rgba(59, 130, 246, 0.02);
	border-radius: 0px 0px 20px 20px;
}

.pricing-table table tbody>tr:last-child>td {
	border-bottom: 0;
}


.pricing-table table thead>tr th {
	padding: 20px 0px 20px 0px;
}

.pricing-table table tbody>tr td {
	padding: 20px 0px 20px 0px;
}





.why-choose-us .row-uniboard {
	background: #FFFFFF;
	border: 1px solid #5EEAD4;
	box-shadow: 0px 12px 40px rgba(59, 130, 246, 0.12);
	border-radius: 12px;
	padding: 20px 0px 20px 0px;
}

.why-choose-us .row-others {
	border-bottom: 1px solid #E5E7EB;
	padding: 20px 0px 20px 0px;

}

.why-choose-us .last-row {

	padding: 20px 0px 20px 0px;

}



.why-choose-us-table p {
	margin: 0;
	padding: 0;
}

.faq .row {
	border-bottom: 1px solid #CFFAFE;

}


.faq .row .border-right {
	border-left: 1px solid #CFFAFE;
}


.faq-background {
	background: #ECFEFF;
	box-shadow: 0px 0px 40px 28px rgba(59, 130, 246, 0.02);
	border-radius: 20px;
}

.faq p {
	margin-bottom: 0;

}

.faq-last-row {
	margin-bottom: 0;
}

.faq-last-row .row .border-right {
	border-left: 1px solid #CFFAFE;
}


.accordion {
	position: relative;
	margin: 30px 30px;
}

.accordion .label {

	position: relative;
	padding: 10px 0;
	font-size: 30px;
	color: black;
	cursor: pointer;
}

.accordion .label::before {
	font-family: FontAwesome;
	content: "\f067";
	color: black;
	position: absolute;
	top: 50%;
	right: -5px;

	transform: translateY(-50%);
}

.accordion .content {
	position: relative;
	
	height: 0;

	text-align: justify;
	width: 100%;
	overflow: hidden;
	transition: 0.5s;
}


.accordion.active .content {
	width: 100%;
	height: auto;
	overflow: auto;

}


.accordion.active .label::before {
	font-family: FontAwesome;
	content: "\f00d";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
}




.footer-contact-section {
	background: #164E63;
}

.user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.user-box input::placeholder {

	color: #fff;

}

.user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}

.footer-company-info .Copyrights {
	color: #64748B;
}




/* features section start */
.features-description {
	height: 660px;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.features-headings ul {
	padding: 0;
}

.features-headings ul li {
	list-style: none;
	padding: 12px 0px;
	color: var(--secondary--) !important;

	padding-right: 0;
}

.features-headings ul li a {
	text-decoration: none;
	font-weight: 700;
	color: var(--secondary--) !important;
	font-size: 20px;
	padding: 16px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: var(--primary--) !important;
	background-color: #ECFEFF;
}




.features-description h3::after {

	content: '';
	display: block;
	position: relative;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 48px;
	border-radius: 5%;
	border-bottom: 4px solid #14B8A6;

}

.features-description a {
	text-decoration: none;
	color: var(--primary--) !important;


}



/* features section end */

/* integration section start */
.integration-hero-background-img{
	background-image: url("https://storage.googleapis.com/content.ezadtv.com/2023/02/06/63e129e8265ab_Select.webp");
	background-repeat: no-repeat;
	background-position: 23% 3%;
    background-size: 35% 27%;

}
.integration-card{
padding: 24px;
background: #FFFFFF;
box-shadow: 0px 12px 40px rgba(59, 130, 246, 0.12);
border-radius: 20px;

width: 296px;
height: 265px;
}
 .integration-card .img-card{
width: 96px;
height: 96px;
background: #FFFFFF;
box-shadow: 0px 12px 40px rgba(59, 130, 246, 0.12);
border-radius: 20px;
 }

 .integration-card p {
	font-size: 14px;
 }

 .integration_tabs .nav-item {
	padding: 0px 15px 0px 15px;
 }

 .integration_tabs .nav-item .nav-link{
	padding: 15px 0px 15px 0px;;
 }

 .integration_tabs .nav-item> .active{
	
	display: block;
	position: relative;
	width: auto;
	border-bottom: 3px solid #14B8A6;
 }

 .integration-trail{
	background: #ECFDF5;
border-radius: 20px;
margin: 64px 0px 64px 0px;
 }

 /* integration section end */


 /* file section start */
 .files-hero-background-img{
	background-image: url("https://storage.googleapis.com/content.ezadtv.com/2023/02/06/63e129e8265ab_Select.webp");
	background-repeat: no-repeat;
	background-position: 0% 12%;
    background-size: 35% 27%;
 }



@media only screen and (max-width:767px) {
	.nav-main {
		overflow-x: auto;
	}
	.nav-main li a{
		white-space: nowrap;
		font-size: 12px !important;
	} 
}
